flow-keyapp/keyapp
[{"id":"fd1ef782.fc5ab","type":"inject","z":"cb3e0866.b092e8","name":"","topic":"","payload":"C0FFEE","payloadType":"str","repeat":"","crontab":"","once":false,"x":447,"y":288,"wires":[["2d0c733c.bb3e9c"]]},{"id":"e753ca08.e7a61","type":"serial out","z":"cb3e0866.b092e8","name":"SIGFOX KeyApp","serial":"4f0a338f.e1921c","x":804,"y":287,"wires":[]},{"id":"2d0c733c.bb3e9c","type":"function","z":"cb3e0866.b092e8","name":"AT interface","func":"msg.payload = \"AT$SS=\" + msg.payload + \"\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"x":613,"y":287,"wires":[["e753ca08.e7a61"]]},{"id":"4f0a338f.e1921c","type":"serial-port","z":"cb3e0866.b092e8","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]