flow-packet-loss/sigfox-packet-loss
[{"id":"ffd34578.347d3","type":"sigfox in","z":"ecf1bd29.baeef","name":"","device":"","x":237.5,"y":658,"wires":[["7eb51347.ee299c"]]},{"id":"7eb51347.ee299c","type":"sigfox device filter","z":"ecf1bd29.baeef","name":"","device":"","x":569.5,"y":657,"wires":[["e813ca09.e46b7","5ee04168.fb9538"]]},{"id":"c30bafc6.dccd5","type":"file","z":"ecf1bd29.baeef","name":"","filename":"rx_log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":884,"y":694,"wires":[]},{"id":"e813ca09.e46b7","type":"debug","z":"ecf1bd29.baeef","name":"","active":false,"console":"false","complete":"false","x":897.5,"y":606,"wires":[]},{"id":"42d652cc.7e7de4","type":"comment","z":"ecf1bd29.baeef","name":"Receiver","info":"","x":481,"y":494,"wires":[]},{"id":"4c23c9bd.1a66e","type":"http request","z":"ecf1bd29.baeef","name":"SIGFOX transmitter","method":"POST","ret":"obj","url":"http://localhost:7215/transmit","tls":"","x":1071,"y":300,"wires":[["4ffa4eaa.c7763","20fa2a61.a213c6"]]},{"id":"350e87dc.00db28","type":"inject","z":"ecf1bd29.baeef","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":237,"wires":[["623c76fd.da5b88"]]},{"id":"20fa2a61.a213c6","type":"debug","z":"ecf1bd29.baeef","name":"","active":false,"console":"false","complete":"false","x":1299,"y":248,"wires":[]},{"id":"fba99bb9.9f4f88","type":"file","z":"ecf1bd29.baeef","name":"","filename":"tx_log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1286,"y":385,"wires":[]},{"id":"8b811a14.5e803","type":"comment","z":"ecf1bd29.baeef","name":"Transmitter","info":"","x":491,"y":66,"wires":[]},{"id":"d7336716.002ec8","type":"link in","z":"ecf1bd29.baeef","name":"","links":["5d6e6f1a.29d638"],"x":598,"y":386,"wires":[["a8536eaa.e3faf8"]]},{"id":"d3736d71.0b4e48","type":"delay","z":"ecf1bd29.baeef","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"15","randomUnits":"seconds","drop":false,"x":187.5,"y":365,"wires":[["623c76fd.da5b88"]]},{"id":"10e999d0.6e40f6","type":"inject","z":"ecf1bd29.baeef","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":181,"y":301,"wires":[["623c76fd.da5b88"]]},{"id":"623c76fd.da5b88","type":"function","z":"ecf1bd29.baeef","name":"Packet sequencer","func":"var queue = context.get('queue')||[];\n\nvar do_send = 0;\n\nif (msg.payload == 'start') {\n    // from the button - send the first packet\n    do_send = 1;\n} else if (msg.payload === 'stop') {\n    // from the button - emergency stop!\n    queue = [];\n} else if ('was_sent' in msg.payload) {\n    // previous packet was sent - send the next one\n    do_send = 1;\n} else {\n    queue.push(msg);\n}\n\ncontext.set('queue', queue);    \n\nif (queue) {\n    node.status({text: queue.length + \" in queue\"});\n} else {\n    node.status({});\n}\n\nif (do_send) {\n    msg = queue.shift();\n    context.set('queue', queue);\n    \n    if (msg) {\n        msg.payload.timestamp = new Date() / 1000.0;\n    }\n    \n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":453,"y":300,"wires":[["2ebdf811.57b34"]]},{"id":"a8536eaa.e3faf8","type":"function","z":"ecf1bd29.baeef","name":"Dynamic frequency selection","func":"if ('f_tx' in msg.payload) {\n    // update from the sensing sub-flow\n    context.set('f_tx', msg.payload.f_tx);\n    return null;\n} else {\n    // packet to send\n    var f_tx = context.get('f_tx');\n    var repetitions = msg.payload.repetitions;\n    \n    msg.payload.frequency = [];\n    msg.payload.algo = 'dynamic';\n    \n    var f;\n    for (var m = 0; m < repetitions; m++) {\n        var n = Math.floor(Math.random() * f_tx.length);\n        f = f_tx[n];\n        \n        msg.payload.frequency.push(f);\n    }\n        \n    node.status({'text': (f/1e6).toFixed(4) + \" MHz\"});\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":795,"y":346,"wires":[["4c23c9bd.1a66e"]]},{"id":"4ffa4eaa.c7763","type":"link out","z":"ecf1bd29.baeef","name":"feedback","links":["45be0405.f2e664","652f0bf0.d5ee7c"],"x":1257,"y":298,"wires":[]},{"id":"45be0405.f2e664","type":"link in","z":"ecf1bd29.baeef","name":"","links":["4ffa4eaa.c7763"],"x":65,"y":366,"wires":[["d3736d71.0b4e48"]]},{"id":"12220388.5de27c","type":"function","z":"ecf1bd29.baeef","name":"Make packets","func":"var n_packets = 100;\n\nvar serial = 0;\n\nvar msgs = [];\n\nfor (var m = 0; m < n_packets; m++) {\n    var data = (\"0000\" + serial.toString(16)).slice(-4);\n    \n    var msg = {\n        'payload': {\n            'data': data,\n            'repetitions': 1,\n            'pga_gain': 10,\n            'gain': -10,\n        }\n    };\n    \n    msgs.push(msg);\n    \n    serial++;\n}\n\nreturn [msgs];\n\n\n/*\nvar gains = [ 0, -2.5, -5, -7.5, -10, \n             -12.5, -15, -17.5, -20 ];\n\nvar n_packets = 150;\n\nvar serial = 0;\n\nvar msgs = [];\n\nfor (var i = 0; i < 2; i++) {\n    for (var n = 0; n < gains.length; n++) {\n        var gain = gains[n];\n        \n        for (var m = 0; m < n_packets; m++) {\n            var data = (\"0000\" + serial.toString(16)).slice(-4);\n            \n            var msg = {\n                'payload': {\n                    'data': data,\n                    'repetitions': 1,\n                    'pga_gain': 0,\n                    'gain': gain\n                }\n            };\n            \n            if (i === 0) {\n                msg.payload.dynamic_frequency = 1;\n            }\n            \n            msgs.push(msg);\n            \n            serial++;\n        }\n    }\n}\n\n// shuffle\nvar j, x, i;\nfor (i = msgs.length; i; i--) {\n    j = Math.floor(Math.random() * i);\n    x = msgs[i - 1];\n    msgs[i - 1] = msgs[j];\n    msgs[j] = x;\n}\n\nreturn [msgs];*/","outputs":1,"noerr":0,"x":454,"y":158,"wires":[["623c76fd.da5b88"]]},{"id":"ddd7045c.b24218","type":"inject","z":"ecf1bd29.baeef","name":"","topic":"","payload":"make","payloadType":"str","repeat":"","crontab":"","once":false,"x":177,"y":157,"wires":[["12220388.5de27c"]]},{"id":"2ebdf811.57b34","type":"function","z":"ecf1bd29.baeef","name":"Random frequency selection","func":"var f_min = 868.055e6;\nvar chan_bw = 100;\n\nvar n_channels = 200;\n\nvar repetitions = msg.payload.repetitions;\n\nmsg.payload.frequency = [];\nmsg.payload.algo = 'random';\n\nvar ch0 = Math.floor(Math.random()*n_channels);\nvar f;\n\nfor (var m = 0; m < repetitions; m++) {\n    var ch = (ch0 + Math.floor(m * n_channels / repetitions)) % n_channels;\n    f = f_min + ch * chan_bw;\n\n    msg.payload.frequency.push(f);\n}\n    \nnode.status({'text': (f/1e6).toFixed(4) + \" MHz\"});\n\nreturn msg;","outputs":1,"noerr":0,"x":794,"y":276,"wires":[["4c23c9bd.1a66e"]]},{"id":"5ee04168.fb9538","type":"function","z":"ecf1bd29.baeef","name":"Calculate PRR","func":"var N = 20;\n\nvar pkts = context.get('pkts')||[];\n\nif ('was_sent' in msg.payload) {\n    // transmitted package\n    \n    pkts.push(msg.payload);\n    \n    if (pkts.length > N) {\n        pkts.shift();\n    }\n} else {\n    // received package\n    \n    for(var n = 0; n < pkts.length; n++) {\n        if(pkts[n].data === msg.payload.data) {\n            pkts[n].was_rcvd = 1;\n        }\n    }\n    \n    // calculate packet loss\n    var m = 0;\n    for(var n = 0; n < pkts.length; n++) {\n        if('was_rcvd' in pkts[n]) {\n            m++;\n        }\n    }\n    \n    var prr = 100 * m /pkts.length;\n    \n    prr = Math.round(prr*10)/10;\n    \n    node.status({\"text\": prr + \"% over last \" + pkts.length + \" pkts\"});\n}\n\ncontext.set('pkts', pkts);\n\nreturn msg;","outputs":"0","noerr":0,"x":917,"y":796,"wires":[]},{"id":"652f0bf0.d5ee7c","type":"link in","z":"ecf1bd29.baeef","name":"","links":["4ffa4eaa.c7763"],"x":690,"y":796,"wires":[["5ee04168.fb9538"]]}]
