node-red-burst-tagging/flow/burst-tagger-demo
[{"id":"9e560f8e.b9ee6","type":"bdisplay","z":"8b9f1f8e.92ec68","x":912,"y":84,"wires":[[]]},{"id":"d3141291.f61dc","type":"replay","z":"8b9f1f8e.92ec68","x":138,"y":85,"wires":[["29585542.c6f122","9e560f8e.b9ee6"]]},{"id":"1a3cc3f9.9bc834","type":"http request","z":"8b9f1f8e.92ec68","name":"Classifier","method":"POST","ret":"txt","url":"http://localhost:7240/classifier","tls":"","x":693,"y":229,"wires":[["9e560f8e.b9ee6"]]},{"id":"29585542.c6f122","type":"btagger","z":"8b9f1f8e.92ec68","x":350,"y":230,"wires":[["dd13c9a0.31d9e8"]]},{"id":"dd13c9a0.31d9e8","type":"function","z":"8b9f1f8e.92ec68","name":"Drop empty","func":"if (msg.payload.bursts.length < 1) {\n    return null;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":525,"y":229,"wires":[["1a3cc3f9.9bc834"]]}]